{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    @import "/css/table.css";
    </style>
{% endblock %}
{% block body %}
    <h1>Collections list</h1>
    {{ dump() }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>List of Nurls</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td><a href="{{ path('collection_show', { 'id': collection.id }) }}">{{ collection.id }}</a></td>
                <td>{{ collection.name }}</td>
                <td><a href="{{ path('user_profile_show', { 'id': collection.user.id }) }}">{{ collection.user.username }}</a></td>
                <td>{% if collection.nurl is defined %}
                        <ul>
                        {% for nurl in collection.nurl %}
                            <li>{{ nurl }}</li>
                        {% endfor %}
                    {% else %}
                        <li>NONE</li>
                    {% endif %}
                        </ul></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('collection_show', { 'id': collection.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collection_new') }}">Create a new collection</a>
        </li>
    </ul>
{% endblock %}
