{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    @import "/css/table.css";
    </style>
{% endblock %}
{% block body %}
    <h1>Pending Nurls list</h1>
    {{ dump() }}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Note</th>
                <th>Author</th>
                <th>Collection</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nurl in nurls if nurl.pending %}
            <tr>
                <td><a href="{{ path('nurl_show', { 'id': nurl.id }) }}">{{ nurl.id }}</a></td>
                <td>{{ nurl.title }}</td>
                <td><a href="{{ nurl.link }}">{{ nurl.link }}</a></td>
                <td>{{ nurl.note }}</td>
                <td>{% if nurl.user.id is defined %}<a href="{{ path('user_profile_show', {'id': nurl.user.id}) }}">@{{ nurl.user.username }}</a>{% else %}Anonymous{% endif %}</td>
                <td>{{ nurl.collection.name }}</td>
                <td>
                    {% if nurl.tag is defined %}

                        {% for tag in nurl.tag %}
                            <li>{{ tag}}</li>
                        {% endfor %}
                    {% else %}
                        There is no tags
                    {% endif %}
                </td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nurl_show', { 'id': nurl.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('nurl_edit_pending', { 'id': nurl.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}